<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>S.F. Downtown FoodTruck</title>
  <link rel="stylesheet" href="css/foodtruck.css">
  <script src="https://maps.googleapis.com/maps/api/js?&sensor=false&libraries=places"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
  <script type="text/javascript" src="lib/backbone.googlemaps.js"></script>
  <script type="text/javascript" src="js/App.js"></script>
</head>

<body>

<!-- TEMPLATE: InfoWindow
 ============================== -->
<script id="infoWindow-template" style="max-width:200px" type="text/html">
  <h2><%= title %></h2>
  <p><%= menu %></p>
  <br> 
</script>

<!-- TEMPLATE: FoodTruck ListView
 ============================== -->
<script id="foodtruck-listview-template" type="text/html">
  <span class="foodtruck-listview-title"><%= title %></span>
  <br>
  <span class="foodtruck-listview-menu"><%= menu %></span>
</script>

<div id="filterMenu" class="filter-menu-container"></div>
<div id="loading-indicator" class="loading-spinner"></div>
<div id="foodtruck">
  <div id="map_canvas" style="width:100%; height:100%"></div>
  <div id="listDiv">
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    App.init();
  });
</script>
</body>
</html>
